<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный Кабинет</title>
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div id="Page">

    </div>
    <script type="text/javascript" src="../static/runtime.js"></script>
    <script type="text/javascript" src="../static/npm.react-redux.js"></script>
    <script type="text/javascript" src="../static/npm.emotion.js"></script>
    <script type="text/javascript" src="../static/npm.react-select.js"></script>
    <script type="text/javascript" src="../static/npm.babel.js"></script>
    <script type="text/javascript" src="../static/npm.prop-types.js"></script>
    <script type="text/javascript" src="../static/npm.scheduler.js"></script>
    <script type="text/javascript" src="../static/npm.react-router.js"></script>
    <script type="text/javascript" src="../static/npm.react-dom.js"></script>
    <script type="text/javascript" src="../static/npm.react-is.js"></script>
    <script type="text/javascript" src="../static/npm.react.js"></script>
    <script type="text/javascript" src="../static/npm.symbol-observable.js"></script>
    <script type="text/javascript" src="../static/npm.webpack.js"></script>
    <script type="text/javascript" src="../static/npm.gud.js"></script>
    <script type="text/javascript" src="../static/npm.history.js"></script>
    <script type="text/javascript" src="../static/npm.hoist-non-react-statics.js"></script>
    <script type="text/javascript" src="../static/npm.memoize-one.js"></script>
    <script type="text/javascript" src="../static/npm.mini-create-react-context.js"></script>
    <script type="text/javascript" src="../static/npm.object-assign.js"></script>
    <script type="text/javascript" src="../static/npm.react-input-autosize.js"></script>
    <script type="text/javascript" src="../static/npm.react-router-dom.js"></script>
    <script type="text/javascript" src="../static/npm.redux-devtools-extension.js"></script>
    <script type="text/javascript" src="../static/npm.redux-thunk.js"></script>
    <script type="text/javascript" src="../static/npm.redux.js"></script>
    <script type="text/javascript" src="../static/npm.resolve-pathname.js"></script>
    <script type="text/javascript" src="../static/npm.style-loader.js"></script>
    <script type="text/javascript" src="../static/npm.tiny-invariant.js"></script>
    <script type="text/javascript" src="../static/npm.tiny-warning.js"></script>
    <script type="text/javascript" src="../static/npm.value-equal.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>
</body>

</html>